body {
  font-family: "Outfit", sans-serif;
  margin: 10px;
  padding: 10px;
}

.freedomwall-page {
  height:100%;
  overflow-y: auto;
  padding: 15px;
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.header {
  width: 140%;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
  margin-top: 0;
}

.badge {
  position: absolute;
  top: -5px;
  right: -6px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 7px;
  font-size: 10px;
}

.button-wrapper {
  position: relative; 
  display: inline-block; 
}

.button-container img {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  padding: 10px;
}

.create-post-btn {
  display: flex;
  margin-bottom: 10px;
  background-color: #ffca10;
  color: #242424;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  align-items: center;
  margin-top: 0;
}

.create-post-btn:hover {
  background-color: #fbcc15;
}

.button-container div {
  display: flex;
  gap: 10px;
  width: 100%;
}

.delete-post-btn,
.manage-wall-btn {
  padding: 20px;
  background-color: #eeeeed;
  color: #242424;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.manage-wall-btn {
  background-color: gray;
}

.post-creation textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.post-creation input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.post-creation button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.post-creation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;
}

.masonry-item {
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
  margin: 5px; 
  width: calc((100% - 40px) / 4); 
  min-width: 120px;
}

.masonry-container {
  display: flex;
  align-items: flex-start; 
  margin-right: 20px;
  justify-content: space-between; 
}

.masonry-item h4 {
  margin: 0;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  padding-top: 10px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.masonry-item p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  text-align: justify;
  padding: 10px;
  padding-bottom: 15px;
}

.three-dots {
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

::ng-deep .menu-item-text {
  font-size: 12px;
  color: #242424;
}

::ng-deep .menu-icon {
  font-size: 24px;
  color: #242424;
}

.dropdown-menu {
  position: absolute;
  right: 20px;
  margin-top: -30px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.dropdown-menu button {
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e9e9e9;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 550px;
  height: auto;
  max-height: 80vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

#new_post_title {
  background-color: #ffffff;
  border-radius: 4px;
  border: none;
  width: 445px;
  margin-top: 7px;
  margin-left: 18px;
  height: 20px;
}

.new-post-title {
  display: inline;
  font-size: 15px;
  margin-top: 24px;
  margin-left: 10px;
  font-family: "Outfit", sans-serif;
}

#new_post_text {
  background-color: #ffffff;
  margin-top: 5px;
  margin-left: 25px;
  border-radius: 4px;
  width: 492px;
  height: 150px;
  border: none;
  resize: none;
  overflow-y: auto;
}

.form-group {
  display: flex;
  align-items: center;
}

.new-post-text {
  margin-bottom: 20px;
  font-size: 15px;
  display: block;
  margin-left: 10px;
  font-family: "Outfit", sans-serif;
  margin-top: 18px;
}

.character-counter-subject {
  position: absolute;
  right: 45px;
  top: 18%;
  transform: translateY(-50%);
  font-size: 12px;
  color: gray;
  pointer-events: none;
}

.character-counter-message {
  position: absolute;
  right: 42px;
  bottom: 22%;
  transform: translateY(-50%);
  font-size: 12px;
  color: gray;
  pointer-events: none;
}

.error-required-subject {
  position: absolute;
  left: 103px;
  top: 24%;
  transform: translateY(-50%);
  font-size: 12px;
  color: rgb(172, 48, 48);
  pointer-events: none;
}

.error-required-message {
  position: absolute;
  left: 54px;
  bottom: 15%;
  transform: translateY(-50%);
  font-size: 12px;
  color: rgb(172, 48, 48);
  pointer-events: none;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffca10;
  color: #212121;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 400;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  font-family: "Outfit";
  margin-top: 15px;
}

.background-color-class-1 {
  background-color: #FAA49E;
}

.background-color-class-2 {
  background-color: #E5B769;
}

.background-color-class-3 {
  background-color: #BBA0CA;
}

.background-color-class-4 {
  background-color: #90E0EF;
}

.background-color-class-5 {
  background-color: #C2FDB2;
}

.pending-count {
  background-color: #ffca10; 
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 72%;
}

.request-delete-count {
  background-color: #ffca10; 
  color: black; 
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 71%;
}

.manage-wall-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}

.manage-modal-content {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 800px; 
  height: 78%; 
  max-height: 90vh; 
  border-radius: 5%;
  position: relative; 
  overflow-y: auto;
}

.manage-close-btn {
  color: black;
  position: absolute; 
  top: 20px; 
  right: 20px; 
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
}

.modal-body {
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow-y: auto;
}

.post-cards-container {
  display: flex; 
  gap: 20px; 
  overflow-x: hidden; 
  margin-left: 2%;
  flex-direction: column;
}

.post-card {
  flex: 1 1 100%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px #eeeeed;
  box-sizing: border-box; 
  min-width: 300px; 
  max-width: calc(100% - 40px); 
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.button-request {
  display: flex;
  position: relative; 
}

.button-request::before {
  content: '';
  position: absolute;
  top: 20;
  left: 0;
  width: 100%;
  height: 1px; 
  background-color: #ccc; 
}

.accept-btn {
  flex: 1 0 25%; 
  background-color: #ffca10;
  color: black;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 15px;
  margin-right: 5%;
  margin-top: 3%;
  position: relative; 
}

.decline-btn {
  flex: 2 0 5%; 
  background-color: #242424;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 3%;
  position: relative; 
}

@media (max-width: 766px) { 
  .top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header {
    width: 100%;
  }

  .modal-content {
    display: absolute;
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .new-post-title, .new-post-title {
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 100%;
    width: 100px;
  }

  .textarea-wrapper {
    display: flex;
    width: 100%;
  }

  .input-wrapper {
    display: flex;
    width: 320%;
  }

  .post-card {
    padding: 10px;
    min-width:95%; 
    max-width: 70%; 
  }

  .pending-count {
    margin-right: 38%;
  }

  .request-delete-count {
    margin-right: 37%;
  }
  
}