body {
  font-family: "Outfit", sans-serif;
  margin: 10px;
  padding: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 40px;
  margin: 10px;
  background-color: #242424;
  border-radius: 20px;
  width: 100%;
}

.header h3, .header h1 {
  margin: 0;
}

.header h1 {
  font-size: 2em;
  color: #eeeeed;
}

.header h3 {
  color: #eeeeed;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.button-container img {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  padding: 10px;
}

.create-post-btn {
  display: flex;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #ffca10;
  color: #242424;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  align-items: center;
}

.create-post-btn:hover {
  background-color: #fbcc15;
}

.button-container div {
  display: flex;
  gap: 10px;
  width: 100%;
}

.delete-post-btn, .manage-wall-btn {
  padding: 20px;
  background-color: #eeeeed;
  color: #242424;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
}

.manage-wall-btn {
  background-color: gray;
}

.post-creation textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.post-creation button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.post-creation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.modal-content textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.modal-content button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffca10;
  color: white;
  border: none; 
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.masonry-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.masonry-item {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.masonry-item[style] {
  background-color: var(--post-color);
}

:root {
  --color1: #FAA49E;
  --color2: #E5B769;
  --color3: #BBA0CA;
  --color4: #90E0EF;
  --color5: #C2FDB2;
}

.masonry-item p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  text-align: justify;
  max-height: 200px;
}