<div class="top">
  <div class="header">
    <h3>Welcome to</h3>
    <h1>Computer Society 2024 Freedom Wall</h1>
  </div>

  <div class="button-container">
    <button class="create-post-btn" (click)="toggleModal()">
      <img src="../../../assets/logo.png">
        Create an anonymous post</button>
    <div>
      <button class="delete-post-btn">Delete Post</button>
      <button class="manage-wall-btn">Manage Wall</button>
    </div>
  </div>
</div>

@if(showModal) {
  <div class="modal">
    <div class="modal-content">
      <span class="close-btn" (click)="closeModal()">&times;</span>
      <form [formGroup]="freedomwallForm" (ngSubmit)="addPost()">
        <div class="form-group new-post-title">
          <label for="new_post_title">Subject:</label>
          <div class="input-wrapper">
            <input
              type="text"
              id="new_post_title"
              formControlName="newPostTitle"
              required
              (input)="updateTitleCharacterCount()" />
            <span class="character-counter-subject">
              {{ freedomwallForm.get('newPostTitle').value ? 
                freedomwallForm.get('newPostTitle').value.length : 0 }}/30
            </span>
          </div>
          @if(newPostTitleControl.invalid && newPostTitleControl.touched) {
            @if(newPostTitleControl.errors?.['required']) {
              <div class="error-required-subject">
                Subject is required.
              </div>
            }
          }
        </div>
      
        <div class="form-group new-post-text">
          <label for="new_post_text">Message:</label>
          <div class="textarea-wrapper">
            <textarea
              id="new_post_text"
              formControlName="newPostText"
              required
              (input)="updateTextCharacterCount()">
            </textarea>
            <span class="character-counter-message">
              {{ freedomwallForm.get('newPostText').value ? 
                freedomwallForm.get('newPostText').value.length : 0 }}/500
            </span>
          </div>
          @if(newPostTextControl.invalid && newPostTextControl.touched) {
            @if(newPostTextControl.errors?.['required']) {
              <div class="error-required-message">
                Message is required.
              </div>
            }
          }
        </div>
        <button 
          type="submit" 
          class="submit-button" 
          [disabled]="freedomwallForm.invalid">
            POST ANONYMOUSLY
        </button>
      </form>      
    </div>
  </div>
}

<ngx-masonry>
  @for(post of posts; track posts) {
    <div ngxMasonryItem class="masonry-item">
      <div [style.background-color]="post.background_color">
        <div class="post-header">
          <h4 (click)="openPost(post)" #postBox>{{ post.subject }}</h4>
          <div class="post-options">
            <span class="three-dots" (click)="toggleOptions(post)">
              &#x22EE;
            </span>
            <div class="dropdown-menu">
              @if(post.showOptions) {
                <button (click)="deletePost(post.id)">Delete</button>
              }
            </div>
          </div>
        </div>
        <p (click)="openPost(post)" #postBox>{{ post.content }}</p>
      </div>
    </div>
  }
</ngx-masonry>
