@if (showSettings){
    <div class="settings">
        <div class="settings-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <div class="tabs">
                <button
                  class="tab"
                  (click)="displayProfileAvatar()">
                    Profile Avatar
                </button>
                <button
                  class="tab"
                  (click)="displayAccountInfo()">
                    Account Information
                </button>
                <button
                  class="tab"
                  (click)="displayAccountManagement()">
                    Account Management
                </button>
                <button
                  class="tab"
                  (click)="displayAccountDeletion()">
                    Account Deletion
                </button>
            </div>

            @if(showInformation){
                <ng-container>
                    <div class="information">
                        <h2>Update Information</h2>
                        <p>
                            Easily manage and edit your profile details, ensuring 
                            your information is accurate and up to date
                        </p>
                        <div class="update-form">
                            <form [formGroup]="updateForm">
                              <div class="form-row">
                                <div> 
                                  <label for="update_first_name">First Name</label>
                                  <input 
                                    type="text"
                                    id ="update_first_name" 
                                    formControlName="first_name" />
                                  @if(firstNameControl.invalid && firstNameControl.touched) {
                                    <div class="inc">
                                      @if(firstNameControl.errors?.['required']) {
                                        <div>First name is required</div>
                                      }
                                      @if(firstNameControl.errors?.['containsNumbers']) {
                                        <div>First name should not contain numbers</div>
                                      }
                                    </div>
                                  }
                                </div>
                      
                                <div>
                                  <label for="update_last_name">Last Name</label>
                                  <input 
                                    type="text" 
                                    id="update_last_name" 
                                    formControlName="last_name" />
                                  @if(lastNameControl.invalid && lastNameControl.touched) {
                                    <div class="inc">
                                      @if(lastNameControl.errors?.['required']) {
                                        <div>Last name is required</div>
                                      }
                                      @if(lastNameControl.errors?.['containsNumbers']) {
                                        <div>Last name should not contain numbers</div>
                                      }
                                    </div>
                                  }
                                </div>
                              </div>
                      
                              <div class="form-row">
                                <div>
                                  <label for="update_student_number">Student Number</label>
                                  <input 
                                    type="text"  
                                    id="update_student_number" 
                                    formControlName="student_number"/>
                                  @if(studentNumberControl.invalid && 
                                    studentNumberControl.touched) {
                                      <div class="inc">
                                        @if(studentNumberControl.errors?.['required']) {
                                          <div>Student number is required</div>
                                        }
                                        @if(studentNumberControl.errors?.['pattern']) {
                                          <div>Invalid student number format. </div>
                                        }
                                      </div>
                                  }
                                </div>
                      
                              
                              </div>
                      
                              <div class="form-row">
                                <div>
                                  <label for="update_birthday">Birthday</label>
                                  <input 
                                    type="date" 
                                    id="update_birthday" 
                                    formControlName="birthday" />
                                  @if(bdayControl.invalid && bdayControl.touched) {
                                    <div class="inc">
                                      @if(bdayControl.errors?.['required']) {
                                        <div>Birth date is required</div>
                                      }
                                      @if(bdayControl.errors.minAge) {
                                        <div>You must be at least 18 years old.</div>
                                      }
                                      @if(bdayControl.errors.maxAge) {
                                        <div>You must be at least below 80 years old.</div>
                                      }
                                    </div>
                                  }
                                </div>
                      
                                <div>
                                  <label for="update_gender">Gender</label>
                                  <select id= "update_gender" formControlName="gender">
                                    <option value="" disabled selected>Select your gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                  </select>
                                  @if(genderControl.invalid && genderControl.touched) {
                                    <div class="inc">
                                       @if(genderControl.errors?.['required']) {
                                        <div>Gender is required</div>
                                      }
                                    </div>
                                  }
                                </div>
                              </div>
                              <div class="buttons">
                                <button (click)="cancel()" class="cancel">Cancel</button>
                                <button (click)="onUpdateSubmit()" class="save">Save</button>
                              </div>
                            
                            </form>
                        </div>
                    </div>
                </ng-container>
            }
            

            @if(showAccountManagement){
                <ng-container>
                    <div class="management">
                      <h2>Change Password</h2>
                        <p>
                            Update your account security by modifying your 
                            current password
                        </p>
                        <div class="update-form">
                            <form [formGroup]="passwordForm">
                                <div>
                                    <label for="current_password">Current Password</label>
                                    <input 
                                        type="password"
                                        id ="current_password" 
                                        formControlName="current_password" />
                                    @if(current_passwordControl.invalid && current_passwordControl.touched) {
                                        <div class="inc">
                                            @if(current_passwordControl.errors?.['required']){
                                                <div>Your password does not match your current password</div>
                                            }
                                        </div>
                                    }
                                </div>

                                
                                    <div>
                                        <label for="new_password">New Password</label>
                                        <input 
                                            type="password"
                                            id ="new_password" 
                                            formControlName="new_password" />
                                        @if(new_passwordControl.invalid && new_passwordControl.touched) {
                                            <div class="inc">
                                                @if(new_passwordControl.errors?.['required']){
                                                    <div>Please type your new password</div>
                                                }
                                                @if(signUpPasswordControl.errors?.['minlength']){
                                                    <div>Password must be 8 characters long</div>
                                                }
                                            </div>
                                        }
                                    </div>
                                  
                                <div>
                                    <label for="confirm_password">Confirm New Password</label>
                                    <input 
                                        type="password"
                                        id ="confirm_password" 
                                        formControlName="confirm_password" />
                                    @if(confirm_passwordControl.invalid && confirm_passwordControl.touched) {
                                        <div class="inc">
                                            @if(confirm_passwordControl.errors?.['required']){
                                                <div>Please confirm your password</div>
                                            }
                                            @if(confirm_passwordControl.getError('mustMatch')){
                                                <div>Password not matching</div>
                                            }
                                        </div>
                                    }
                                </div>
                                <div class="buttons">
                                  <button (click)="cancel()" class="cancel">Cancel</button>
                                  <button (click)="changePass()" class="save">Save</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </ng-container>
            }

            @if(showAccountDeletion){
              <ng-container>
                <div class="deletion">
                  <h2>Account Deletion</h2>
                  <p>Security manage your account status by disabling access</p>
                  <div class="deleteButton">
                    <button (click)="deleteModal()" class="delete">Delete my account</button>
                  </div>
                </div>
              </ng-container>
            }

            @if(showDeleteModal) {
              <div class="deleteAccModal">
                <div class="delete-content">
                    <span class="closeDelete" (click)="closeDeleteModal()">&times;</span>
                    <p>Type your password to delete your account</p>
                    <form [formGroup]="deleteForm">
                      <label for="deletion_password">Password</label>
                      <input 
                        type="password"
                        id ="deletion_password" 
                        formControlName="deletion_password" />
                      @if(deletion_passwordControl.invalid && deletion_passwordControl.touched) {
                        <div class="inc">
                            @if(current_passwordControl.errors?.['required']){
                                <div>password is required</div>
                            }
                        </div>
                      }
                      <button (click)="deleteAccount()" class="delete">Delete</button>
                    </form>
                </div>
              </div>
            }
        </div>
    </div>
}
