<div class="members-page">
    <div class="container">
        <div class="left-column">
            <div class="header">
                <img src="" alt="Logo"/>
                <h1>Members</h1>
            </div>

            <div class="members">
                <div id="search_container">
                    <input type="text" class="search-input" placeholder="Search"/>
                    <ul class="search-results"></ul>
                </div>
    
                <div class="all-members">
                    @for(member of members; track members) {
                        <div
                            class="member" 
                            (click)="memberClick(member.student_number)">
                            <!-- TODO: VILLA-VILLA: Backend for profile picture -->
                            <img [src]="" alt="Profile Picture"/>
                            <p>{{ member.first_name + " " + 
                                member.last_name }}</p>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="right-column">
            <div class="membership-request">
                <h2>MEMBERSHIP REQUESTS</h2>
                @for(request of membershipRequests; track membershipRequests) {
                    <div class="request">
                        <div class="profile">
                             <!-- TODO: VILLA-VILLA: Backend for profile picture -->
                            <img [src]="" alt="Profile Picture"/>
                            <p>{{ request.first_name + " " + request.last_name}}</p>
                        </div>
                        <button 
                            class="accept" 
                            (click)="acceptRequest(request.student_number)">
                                Accept
                        </button>
                        <button 
                            class="decline" 
                            (click)="declineRequest(request.student_number)">
                                Decline
                        </button>
                    </div>
                }
            </div>

            <div class="officers">
                <h2>OFFICERS</h2>
                @for(officer of officers; track officers) {
                    <div class="officer" (click)="officerClick(officer.student_number)">
                        <div class="profile">
                            <img [src]="officer.icon" alt="Profile Picture"/>
                            <p>{{ officer.first_name + " " +
                                officer.last_name }}</p>
                        </div>
                    </div>
                } 
            </div>
        </div>
    </div>
</div>

  
@if(showModalMember){
<div class="modal" id="memberModal">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        @for(detail of details; track details) {
            <div class="modal-profile">
                <!-- TODO: VILLA-VILLA: Backend for profile picture -->
                <img
                id="modal-icon"
                src="../../../assets/icon.jpg"
                alt="Profile Picture"
                />
            </div>
            <div class="details">
                <div class="left-column-details">
                    <p class="label">First Name</p>
                    <p class="value">{{ detail.first_name }}</p>
                    <p class="label">Birthday</p>
                    <p class="value">{{ detail.birthday }}</p>
                    <p class="label">Student Number</p>
                    <p class="value">{{ detail.student_number }}</p>
                </div>

                <div class="right-column-details">
                    <p class="label">Last Name</p>
                    <p class="value">{{ detail.last_name }}</p>
                    <p class="label">Gender</p>
                    <p class="value">{{ detail.gender }}</p>
                    <p class="label">Email</p>
                    <p class="value">{{ detail.email }}</p>
                </div>
            </div>
            <button class="modal-button-officer" (click)="addOfficer(detail.student_number)">
                Make Officer
            </button>
            <button class="modal-button-member" (click)="removeMember(detail.student_number)">
                Remove Member
            </button>
        }
        
    </div>
</div>
}

@if(showModalOfficer){
<div class="modal" id="memberModal">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        @for(detail of details; track details) {
            <div class="modal-profile">
                <img
                id="modal-icon"
                src="../../../assets/icon.jpg"
                alt="Profile Picture"
                />
            </div>
            <div class="details">
                <div class="left-column-details">
                    <p class="label">First Name</p>
                    <p class="value">{{ detail.first_name }}</p>
                    <p class="label">Birthday</p>
                    <p class="value">{{ detail.birthday }}</p>
                    <p class="label">Student Number</p>
                    <p class="value">{{ detail.student_number }}</p>
                </div>

                <div class="right-column-details">
                    <p class="label">Last Name</p>
                    <p class="value">{{ detail.last_name }}</p>
                    <p class="label">Gender</p>
                    <p class="value">{{ detail.gender }}</p>
                    <p class="label">Email</p>
                    <p class="value">{{ detail.email }}</p>
                </div>
            </div>
        }
        <button class="modal-button-officer" (click)="addMember(i)">
            Make Member
        </button>
        <button class="modal-button-member" (click)="removeOfficer()">
            Remove Member
        </button>
    </div>
</div>
}