.mdc-dialog__title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: "Outfit";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .mdc-dialog__content {
    width: 100%;
    text-align: left;
    font-size: 15px;
    font-family: "Outfit";
    padding: 20px;
  }
  
  .no-button,
  .yes-button {
    background-color: transparent;
    color: black;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .yes-button {
    background-color: #ffca10;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
  }
  
  .no-button:hover,
  .yes-button:hover {
    opacity: 0.8;
  }

