body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center; 
  width: 100%;
  height: 100%;
}


app-sidebar {
  width: 110px;
  margin-right: 10px;
  overflow-y: auto; 
  height: 100%;
}

.content-display {
  flex: 2;
  padding: 0px;
  width: 100%;
  height: 95%;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
}


@media screen and (max-width: 767px) {
  app-sidebar {
    width: 0px;
  }
  
}


::ng-deep .custom-toast {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 20px 15px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

::ng-deep .custom-toast.success {
  background-color: #31AA65;
}

::ng-deep .custom-toast.error {
  background-color: #C0564B;
}