body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center; 
  width: 100%;
}

@media screen and (max-width: 525px) {
  app-sidebar{
    display: none;
  }
}

app-sidebar {
  width: 110px;
  margin-right: 10px;
  overflow-y: auto; 
  height: 100%;
}

app-display {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
