body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  height: 100%;
  overflow: hidden; /* Prevent scrolling of the entire page */
}

app-sidebar {
  width: 110px;
  margin-right: 10px;
  overflow-y: auto; /* Enable scrolling for sidebar content if needed */
  height: 100%; /* Set the height of the sidebar to 100% */
}

app-display {
  max-width: 1200px;
  flex-grow: 1;
  background-color: #ffffff; /* Optional: to distinguish the display area */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

::ng-deep .custom-toast {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

::ng-deep .custom-toast-font.success {
  background-color: #B2CF8B;
}

::ng-deep .custom-toast-font.error {
  background-color: #c5e3bd;
}