body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

.events-page {
  height: 100%;
  overflow-y: auto;
  padding: 15px;
}

app-header {
  width: 100%;
  margin-top: 0px;
}

.top {
  display: flex;
  justify-content: space-between; 
}

.create-event {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  color: #242424;
  border: none;
  padding: 0 8%; 
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
  text-wrap: nowrap;
  margin-top: 0px;
  font-family: 'Outfit';
}

.create-event mat-icon {
  color: #ffca10; 
  margin-right: 10px;
  font-size: 24px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 125%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: -5%;
}

.modal.visible {
  display: block;
}

.modal-content {
  background-color: #eeeeed;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10px;
  height: 450px;
}

.close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  text-align: center;
}

.section-title {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inline-container {
  display: flex;
  justify-content: space-between;
}

.inline-container input[type="date"],
.inline-container input[type="time"] {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inline-radio {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.inline-radio label {
  margin-left: 5px;
  margin-right: 20px;
}

.inline-radio input[type="radio"] {
  margin-left: 10px;
  margin-top: 10px;
}

#regAmount {
  padding: 12px;
  margin-top: 20px;
  text-align: start;
}

#maxAttendees {
  padding: 12px;
  text-align: start;
}

.step-0-next-btn {
  background-color: #ffca10;
}

.step-1-back-btn {
  background-color: #888;
}

.step-1-next-btn {
  background-color: #ffca10;
}

.textarea-container {
  margin-bottom: 20px;
}

.textarea-wrapper {
  position: relative;
}

.caption-textarea {
  width: 96%;
  height: 100px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.character-counter-message {
  position: absolute;
  right: 10px;
  bottom: 16px;
  font-size: 12px;
  color: gray;
  pointer-events: none;
}

.step-2-back-btn,
.step-2-next-btn {
  margin-top: 1%;
}

.step-2-back-btn {
  background-color: #888;
}

.step-2-next-btn {
  background-color: #ffca10;
}

#poster_loc::-webkit-file-upload-button {
  display: none;
}

#poster_loc::before {
  content: "Upload Event Poster";
  display: inline-block;
  background: white;
  color: black;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 3%;
  margin-right: 2%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

button {
  color: #242424;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
}

button:hover {
  background-color: #e0ac00;
}

.event-preview {
  border: 1px solid #ccc; 
  border-radius: 10px; 
  padding: 20px; 
  margin: 30px 0; 
  background-color: #f9f9f9; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

.event-preview img {
  max-width: 30%; 
  height: auto; 
  border-radius: 10px; 
  margin: 0%;
}

.event-preview h3 {
  font-size: 14px; 
  margin: 1px 0; 
  color: #333; 
}

.event-preview p {
  font-size: 12px; 
  margin: 5px 0; 
  color: #666; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
}

#preview_caption {
  font-size: 12px; 
  margin: 5px 0; 
  color: #666; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
  text-align: left;
}

.back-btn {
  background-color: #888;
  color: #fff;
}

.save-draft-btn {
  background-color: #3b2e006a;
  color: #fff;
}

.publish-btn {
  background-color: #ffca10;
}

.tabs {
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.tab {
  color: #242424;
  border: none;
  border-radius: 10px;
  margin-top: 1%;
  padding: 1.5% 12%;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Outfit';
}

.tab.active {
  background-color: #ffca10;
  transition: background-color 0.3s ease;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5f5f5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  overflow-y: scroll;
  height: 400px;
}

.event-list::-webkit-scrollbar {
  display: none;
}

.event-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 50%;
  margin: 10px;
  display: flex;
}

.event-img {
  width: 100%;
  max-width: 100%;
}

.event-img img {
  flex: 1;
  width: 15%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 1%;
}

.event-details {
  flex: 1;
  align-items: start;
  margin-left: -81%;
}

.event-details h3 {
  font-size: 18px;
  text-align: start;
  font-weight: bolder;
}

.event-details p {
  font-size: 1.05rem;
  color: #777;
  margin: 8px 0;
}

#reg_fee {
  color: #ffca10;
  background-color: #242424;
  padding: 0.5% 1%;
  border-radius: 3px;
  display: inline-block;
}

.manage-container {
  text-align: center;
  margin-top: 8%;
}

.manage-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 20%;
  margin-left: -10%;
}

.registered-icon {
  width: 20px; 
  height: auto;
  margin-right: 5%;
}

.registered-text {
  font-size: 14px; 
  color: #333;
}

.manage-button {
  flex: 1;
  background-color: #ffca10;
  color: black;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
  margin-left: -20%;
  cursor: pointer;
}

.modal.visible {
  display: block;
}

.modal-content {
  background-color: #eeeeed;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 10px;
  height: auto;
}

.edit-btn {
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ffca10;
}

.occurring-btn {
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}

.cancel-btn {
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #888;
}

.manage-content button:hover {
  background-color: #e0ac00;
}

#manageEventModal {
  overflow: hidden;
}

#manageEventModal img {
  width: 50%;
}

.modal-manage-content {
  display: flex;
  width: 100%;
}

.modal-content-manage {
  display: flex;
  background: transparent;
  align-items: center;
  margin: 15% auto;
  text-align: center;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  height: auto;
}

.manage-content {
  flex: 2;
  flex-direction: column;
  background-color: #242424;
  padding: 2%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.manage-members {
  flex: 2;
  flex-direction: column;
  background-color: #eeeeed;
  padding: 2%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.members-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.member {
  display: flex;
  align-items: center;
  width: 48%;
  margin-bottom: 10px;
}

.member-photo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.member-name {
  font-size: 16px;
  color: #333;
}

.manage-modal.visible {
  display: block;
}

.eventtag {
  color: #ffca10;
}

.eventinfo {
  padding-left: 3%;
  text-align: start;
  color: #eeeeed;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.inc {
  font-size: 12px;
  color: red;
}

.no-request {
  padding: 10%;
  text-align: center;
}