@if(showProfileIconEdit) {
 <div class="change-profile-icon">
    <div class="change-icon-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <img class="current-icon" [src]="selectedAvatarPath" alt="Current Icon">
  
      <div class="choose-avatar">
        <h3>Choose an avatar</h3>
        <img
          class="avatar"
          [class.selected]="currentSelectedAvatar === 'assets/icons/1.png'"
          src="assets/icons/1.png"
          (click)="selectAvatar('assets/icons/1.png')">
        <img
          class="avatar"
          [class.selected]="currentSelectedAvatar === 'assets/icons/2.png'"
          src="assets/icons/2.png"
          (click)="selectAvatar('assets/icons/2.png')">
        <img
          class="avatar"
          [class.selected]="currentSelectedAvatar === 'assets/icons/3.png'"
          src="assets/icons/3.png"
          (click)="selectAvatar('assets/icons/3.png')">
        <img
          class="avatar"
          [class.selected]="currentSelectedAvatar === 'assets/icons/4.png'"
          src="assets/icons/4.png"
          (click)="selectAvatar('assets/icons/4.png')">
        <img
          class="avatar"
          [class.selected]="currentSelectedAvatar === 'assets/icons/5.png'"
          src="assets/icons/5.png"
          (click)="selectAvatar('assets/icons/5.png')">
        <img
          class="avatar"
          [class.selected]="currentSelectedAvatar === 'assets/icons/6.png'"
          src="assets/icons/6.png"
          (click)="selectAvatar('assets/icons/6.png')">
        <img
          class="avatar"
          [class.selected]="currentSelectedAvatar === 'assets/icons/7.png'"
          src="assets/icons/7.png"
          (click)="selectAvatar('assets/icons/7.png')">
        <img
          class="avatar"
          [class.selected]="currentSelectedAvatar === 'assets/icons/8.png'"
          src="assets/icons/8.png"
          (click)="selectAvatar('assets/icons/8.png')">
        <img
          class="avatar"
          [class.selected]="currentSelectedAvatar === 'assets/icons/9.png'"
          src="assets/icons/9.png"
          (click)="selectAvatar('assets/icons/9.png')">
        <img
          class="avatar"
          [class.selected]="currentSelectedAvatar === 'assets/icons/10.png'"
          src="assets/icons/10.png"
          (click)="selectAvatar('assets/icons/10.png')">
      </div>
      <div class="options">
        <button class="cancel" (click)="closeModal()">Cancel</button>
        <button class="save" (click)="saveAvatar()">Save</button>
      </div>
    </div>
  </div>
}