<div class="logo">
  <img src="../assets/logo.png" />
</div>

<div class="auth-container">
  <!-- Step 1: Enter Email -->
  @if(step === 1){
  <h1>Forgot Password?</h1>
  <p>Enter your email and we will send you verification code</p>
  <form [formGroup]="emailForm" (ngSubmit)="sendVerificationCode()">
    <div class="input-field">
      <input
        id ="email_input"
        type="email"
        formControlName="email"
        placeholder="Enter Email Address"/>
      <div class="inc">
      @if(emailForm.controls.email.invalid && emailForm.controls.email.touched)
         { Please enter a valid email. }
      </div>
    </div>
    <button class="auth-button" type="submit" [disabled]="loading">
      Send Verification Code
    </button>
  </form>
  }

  <!-- Step 2: Enter Verification Code -->
  @if(step === 2){
  <h1>Verification Code</h1>
  <form [formGroup]="codeForm" (ngSubmit)="verifyCode()">
    <div class="input-field">
      <label id="code_label" for="code">Enter Code</label>
      <input
        id="code_input"
        type="text"
        formControlName="code"
        placeholder="Enter the code sent to your email"/>
      <div class="inc">
        @if(codeForm.controls.code.invalid && codeForm.controls.code.touched)
         { Please enter the 6-digit code. }
      </div>
    </div>
    <button class="code-button" type="submit" [disabled]="loading">
      Verify Code
    </button>
  </form>
  }

  <!-- Step 3: Enter New Password -->
  @if(step === 3){
  <h1>Set New Password</h1>
  <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
    <div class="input-field">
      <label id="new_pass" for="newPassword">New Password</label>
      <input
        class="new-pass-input"
        type="password"
        formControlName="newPassword"
        placeholder="Enter new password"/>
      <div class="inc">
        @if(passwordForm.controls.newPassword.invalid &&
          passwordForm.controls.newPassword.touched) 
          { Password must be at least 8 characters. }
      </div>
    </div>
    <div class="input-field">
      <label class="confirm-label" for="confirmPassword">
        Confirm Password
      </label>
      <input
        class="confirm-input"
        type="password"
        formControlName="confirmPassword"
        placeholder="Confirm new password"/>
      <div class="inc">
        @if(passwordForm.hasError('mismatch') &&
         passwordForm.controls.confirmPassword.touched)
          { Passwords do not match. }
      </div>
    </div>
    <button class="pass-button" type="submit" [disabled]="loading">
      Update Password
    </button>
  </form>
  }

  <!-- Step 4: Confirmation -->
  @if(step === 4){
  <h1 class="updated" >Password Updated</h1>
  <p>Your password has been successfully updated.</p>
  <button class="auth-button" (click)="redirectToLogin()">Log In</button>
  }

  <!-- Error Message -->
  @if(errorMessage) {
  <div class="error-message">
    {{ errorMessage }}
  </div>
  }
</div>
