.data-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  margin-top: 15px;
  align-items: stretch; /* Ensure all .data items have the same height */
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  border: 1px solid #ebebeb;
  flex: 1; /* Ensure equal width for all .data containers */
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.data-people-icon mat-icon {
  font-size: 20px;
  color: #ffca10;
}

.data-people-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #fffbd8;
  border-radius: 50%;
  margin-bottom: 8px; /* Add some spacing below the icon */
}

.data-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 0; /* Remove margin-left to center align content */
}

.data-number {
  color: #ffca10;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.data-text {
  font-size: 10px;
  color: #666;
  margin: 0;
}

.data-text {
  font-size: 10px;
  color: #666;
  margin: 0;
}

