    <div class="data-container">
      <div class="data">
        <span class="data-people-icon">
          <mat-icon class="custom-iconn">people</mat-icon>
        </span>
        <div class="data-details">
          <p class="data-number">{{ memberCount }}</p>
          <p class="data-text">members</p>
        </div>
      </div>
      <div class="data">
        <span class="data-people-icon">
          <mat-icon class="custom-iconn">event</mat-icon>
        </span>
        <div class="data-details">
          <p class="data-number">{{ eventsCount }}</p>
          <p class="data-text">upcoming events</p>
        </div>
      </div>
      <div class="data">
        <span class="data-people-icon">
          <mat-icon class="custom-iconn">pending_actions</mat-icon>
        </span>
        <div class="data-details">
          <p class="data-number">{{ pendingPostCount }}</p>
          <p class="data-text">pending post approval</p>
        </div>
      </div>
    </div>
  