<div class="below-header">
    <div class="data-container">
      <div class="data">
        <span class="data-people-icon">
          <mat-icon class="custom-iconn">people</mat-icon>
        </span>
        <div class="data-details">
          <p class="data-number">30</p>
          <p class="data-text">members</p>
        </div>
      </div>
      <div class="data">
        <span class="data-people-icon">
          <mat-icon class="custom-iconn">event</mat-icon>
        </span>
        <div class="data-details">
          <p class="data-number">1</p>
          <p class="data-text">upcoming events</p>
        </div>
      </div>
      <div class="data">
        <span class="data-people-icon">
          <mat-icon class="custom-iconn">pending_actions</mat-icon>
        </span>
        <div class="data-details">
          <p class="data-number">2</p>
          <p class="data-text">pending post approval</p>
        </div>
      </div>
    </div>
      <div class="event-container">
        <div class="date">
          <div class="day">{{ currentDay }}</div>
          <div class="date-number">{{ currentDate }}</div>
        </div>
        <div class="events">
          <div class="event">
            <span class="event-name">Acoustic Night With Clover</span>
            <span class="event-time">9:00 pm</span>
          </div>
          <div class="event">
            <span class="event-name">Acoustic Night With Clover</span>
            <span class="event-time">9:00 pm</span>
          </div>
          <div class="event">
            <span class="event-name">Acoustic Night With Clover</span>
            <span class="event-time">9:00 pm</span>
          </div>
          <div class="event">
            <span class="event-name">Acoustic Night With Clover</span>
            <span class="event-time">9:00 pm</span>
          </div>
          <div class="event">
            <span class="event-name">Acoustic Night With Clover</span>
            <span class="event-time">9:00 pm</span>
          </div>
        </div>
      </div>
  </div>