.content-display {
  flex: 1;
  padding: 20px;
  width: 100%; /* Use percentage for dynamic width */
  max-width: 1200px; /* Optional: Set a max width */
  box-sizing: border-box; /* Include padding and border in the element's width */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
}
