.content-display {
  flex: 1;
  padding: 0px;
  width: 100%;
  max-width: 100vw;
  max-height: 900vh;
  box-sizing: border-box;
  margin-top: 15px;
  overflow-y: auto;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
