<div class="dashboard">
  <div class="content">
    <div class="main">
      <div class="dashboard-header">
        <div class="greetings">
          <h1 class="org-name">Computer Society</h1>
          <h1 class="user-name">Hello, Jane Dee!</h1>
        </div>
        <img src="assets/default.jpg" alt="Icon" class="org-icon" />
      </div>
      <h2 class="section-title">Tools</h2>
      <div class="tools">
        <mat-card class="example-card">
          <mat-card-header> </mat-card-header>
          <span class="material-symbols-outlined custom-icon">
            edit_square
          </span>
          <mat-card-title>Create Event</mat-card-title>
        </mat-card>

        <mat-card class="example-card" (click)="toggleModalAnnouncement()">
          <mat-card-header>
            <span class="material-symbols-outlined custom-icon">
              campaign
            </span>
          </mat-card-header>
          <mat-card-title>Make Announcement</mat-card-title>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header> </mat-card-header>
          <span class="material-symbols-outlined custom-icon"> groups </span>
          <mat-card-title>View Membership Requests</mat-card-title>
        </mat-card>
      </div>
    </div>

    <div class="container">
      <div class="profile-container">
        <p class="my-profile">MY PROFILE</p>
        <div class="profile-details">
          <img src="assets/default.jpg" alt="Icon" class="icon" />
          <div class="details">
            <p class="name">Jane Dee</p>
            <p class="course">BS Information Technology</p>
          </div>
        </div>
        <div class="role">Admin</div>
      </div>

      <div class="announcement-container">
        <h4>ANNOUNCEMENTS</h4>

        <div class="announcement" *ngFor="let announcement of announcements">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
            class="menu-button"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="an-menu">
            <button mat-menu-item (click)="deleteAnnouncement(announcement)">
              <mat-icon class="menu-icon">delete</mat-icon>
              <span class="menu-item-text">Delete</span>
            </button>
            <button mat-menu-item (click)="openEditModal(announcement)">
              <mat-icon class="menu-icon">edit</mat-icon>
              <span class="menu-item-text">Edit</span>
            </button>
          </mat-menu>

          <div class="an-content" (click)="openModal(announcement)">
            <p class="announcement-subject">{{ announcement.subject }}</p>
            <p class="announcement-text">
              {{ truncateText(announcement.content, 50) }}
            </p>
          </div>
        </div>
      </div>

      <div class="modal" *ngIf="showModal">
        <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <h2>{{ modalSubject }}</h2>
          <p>{{ modalContent }}</p>
        </div>
      </div>

      <div class="modal-edit-announcement" *ngIf="openModalEditAnnouncement">
        <div class="modal-announcement-content">
          <span class="close" (click)="closeModalEditAnnouncement()"
            >&times;</span
          >
          <h2>Edit Announcement</h2>

          <form
          [formGroup]="announcementForm"
          (ngSubmit)="submitEditAnnouncement()"
        >
          <div class="an-modal-content">
            <div class="form-group subject">
              <label for="subject">Subject:</label>
              <div class="input-wrapper">
                <input
                  type="text"
                  id="subject"
                  formControlName="subject"
                  required
                  (input)="updateSubjectCharacterCount()"
                />
                <span class="character-counter-subject">
                  {{
                    announcementForm.get("subject").value
                      ? announcementForm.get("subject").value.length
                      : 0
                  }}/30
                </span>
              </div>
              <div *ngIf="announcementForm.get('subject').invalid &&
                  announcementForm.get('subject').touched">
                <div class="error-required-subject"
                  *ngIf="announcementForm.get('subject').errors?.required">
                  Subject is required.
                </div>
              </div>
            </div>

            <div class="form-group message">
              <label for="message">Message:</label>
              <div class="textarea-wrapper">
                <textarea
                  id="message"
                  formControlName="message"
                  required
                  (input)="updateMessageCharacterCount()"
                ></textarea>
                <span class="character-counter-message">
                  {{
                    announcementForm.get("message").value
                      ? announcementForm.get("message").value.length
                      : 0
                  }}/850
                </span>
              </div>

              <div *ngIf="announcementForm.get('message').invalid &&
                  announcementForm.get('message').touched">
                <div class="error-required-message"
                  *ngIf="announcementForm.get('message').errors?.required"
                  >Message is required.
                </div>
              </div>
            </div>

            <div class="form-group recipient">
              <mat-radio-group formControlName="recipient">
                <mat-radio-button value="everyone">Everyone</mat-radio-button>
                <mat-radio-button value="officers">Officers Only</mat-radio-button>
              </mat-radio-group>
              <div *ngIf="announcementForm.get('recipient').invalid && announcementForm.get('recipient').touched">
                <div class="error-required-recipient" *ngIf="announcementForm.get('recipient').errors?.required">Recipient selection is required.</div>
              </div>
            </div>
            
            <button type="submit" class="submit-button">
              PUBLISH ANNOUNCEMENT
            </button>
          </div>
        </form>
        </div>
      </div>

      <div class="modal-announcement" *ngIf="openModalAnnouncement">
        <div class="modal-announcement-content">
          <span class="close" (click)="closeModalAnnouncement()">&times;</span>
          <h2>Announcement</h2>

          <form
            [formGroup]="announcementForm"
            (ngSubmit)="submitAnnouncement()"
          >
            <div class="an-modal-content">
              <div class="form-group subject">
                <label for="subject">Subject:</label>
                <div class="input-wrapper">
                  <input
                    type="text"
                    id="subject"
                    formControlName="subject"
                    required
                    (input)="updateSubjectCharacterCount()"
                  />
                  <span class="character-counter-subject">
                    {{
                      announcementForm.get("subject").value
                        ? announcementForm.get("subject").value.length
                        : 0
                    }}/30
                  </span>
                </div>
                <div *ngIf="announcementForm.get('subject').invalid &&
                    announcementForm.get('subject').touched">
                  <div class="error-required-subject"
                    *ngIf="announcementForm.get('subject').errors?.required">
                    Subject is required.
                  </div>
                </div>
              </div>

              <div class="form-group message">
                <label for="message">Message:</label>
                <div class="textarea-wrapper">
                  <textarea
                    id="message"
                    formControlName="message"
                    required
                    (input)="updateMessageCharacterCount()"
                  ></textarea>
                  <span class="character-counter-message">
                    {{
                      announcementForm.get("message").value
                        ? announcementForm.get("message").value.length
                        : 0
                    }}/850
                  </span>
                </div>

                <div *ngIf="announcementForm.get('message').invalid &&
                    announcementForm.get('message').touched">
                  <div class="error-required-message"
                    *ngIf="announcementForm.get('message').errors?.required"
                    >Message is required.
                  </div>
                </div>
              </div>

              <div class="form-group recipient">
                <mat-radio-group formControlName="recipient">
                  <mat-radio-button value="everyone">Everyone</mat-radio-button>
                  <mat-radio-button value="officers">Officers Only</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="announcementForm.get('recipient').invalid && announcementForm.get('recipient').touched">
                  <div class="error-required-recipient" *ngIf="announcementForm.get('recipient').errors?.required">Recipient selection is required.</div>
                </div>
              </div>
              
              <button type="submit" class="submit-button">
                PUBLISH ANNOUNCEMENT
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
