<div class="dashboard">
  <div class="content">
    
    <div class="main">  
      <div class="dashboard-header">
        <div class="greetings">
          <h1 class="org-name">Computer Society</h1>
          <h1 class="user-name">Hello, Jane Dee!</h1>
        </div>
        <img src="assets/default.jpg" alt="Icon" class="org-icon" />
      </div>


      <!----- TOOLS: CREATE EVENT ---->
      <h2 class="section-title">Tools</h2>
      <div class="tools">
        <mat-card class="example-card">
          <mat-card-header> </mat-card-header>
          <span class="material-symbols-outlined custom-icon">
            edit_square
          </span>
          <mat-card-title>Create Event</mat-card-title>
        </mat-card>

        <!-- TOOLS: ANNOUNCEMENT!-->
        <mat-card class="example-card" (click)="toggleModalAnnouncement()">
          <mat-card-header>
            <span class="material-symbols-outlined custom-icon">
              campaign
            </span>
          </mat-card-header>
          <mat-card-title>Make Announcement</mat-card-title>
        </mat-card>

       <!-- TOOLS: VIEW MEMBERSHIP REQUESTS!-->
        <mat-card class="example-card">
          <mat-card-header> </mat-card-header>
          <span class="material-symbols-outlined custom-icon"> groups </span>
          <mat-card-title>View Membership Requests</mat-card-title>
        </mat-card>
      </div>
    </div>

   
    <div class="container">
      <div class="profile-container">
        <p class="my-profile">MY PROFILE</p>
        <div class="profile-details">
          <img src="assets/default.jpg" alt="Icon" class="icon" />
          <div class="details">
            <p class="name">Jane Dee</p>
            <p class="course">BS Information Technology</p>
          </div>
        </div>
        <div class="role">Admin</div>
      </div>

      <!-- VIEW ANNOUNCEMENTS -->
      <div class="announcement-container">
        <h4>ANNOUNCEMENTS</h4>
        <div class="announcement" *ngFor="let announcement of announcements">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
            class="menu-button">
            <mat-icon>more_vert</mat-icon>
          </button>

        <!--ANNOUNCEMENT MENU: edit & delete-->
          <mat-menu #menu="matMenu" class="an-menu">
            <button mat-menu-item (click)="deleteAnnouncement(announcement)">
              <mat-icon class="menu-icon">delete</mat-icon>
              <span class="menu-item-text">Delete</span>
            </button>
            <button mat-menu-item (click)="openEditModal(announcement)">
              <mat-icon class="menu-icon">edit</mat-icon>
              <span class="menu-item-text">Edit</span>
            </button>
          </mat-menu>

        <!--ANNOUNCEMENTS-->
          <div class="an-content" (click)="openModal(announcement)">
            <p class="announcement-subject">{{ announcement.subject }}</p>
            <p class="announcement-text">
              {{ truncateText(announcement.content, 30) }}
            </p>
          </div>
        </div>
      </div>

      <!--VIEW ANNOUNCEMENT MODAL-->
      <div class="modal" *ngIf="showModal">
        <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <h2>{{ modalSubject }}</h2>
          <p>{{ modalContent }}</p>
        </div>
      </div>

       <!--EDIT ANNOUNCEMENT MODAL-->
      <div class="modal-edit-announcement" *ngIf="openModalEditAnnouncement">
        <div class="modal-announcement-content">
          <span class="close" (click)="closeModalEditAnnouncement()">&times;
          </span>
          <h2>Edit Announcement</h2>
          <form
          [formGroup]="announcementForm"
          (ngSubmit)="submitEditAnnouncement()">
          <div class="an-modal-content">
            <div class="form-group subject">
              <label for="subject">Subject:</label>
              <div class="input-wrapper">
                <input
                  type="text"
                  id="subject"
                  formControlName="subject"
                  required
                  (input)="updateSubjectCharacterCount()" />
                <span class="character-counter-subject">{{
                    subjectControl.value
                      ? subjectControl.value.length
                      : 0 }}/30
                </span>
              </div>

              <!--FORM VALIDATORS-->
              @if(subjectControl.invalid && subjectControl.touched){
                @if(subjectControl.errors?.['required']){
                  <div class="error-required-subject">
                    Subject is required.
                  </div>
                }
               }
            </div>

            <div class="form-group message">
              <label for="message">Message:</label>
              <div class="textarea-wrapper">
                <textarea
                  id="message"
                  formControlName="message"
                  required
                  (input)="updateMessageCharacterCount()">
                </textarea>
                <span class="character-counter-message">
                  {{messageControl.value
                      ? messageControl.value.length
                      : 0}}/850
                </span>
              </div>

              @if(messageControl.invalid && messageControl.touched){
                @if(messageControl.errors?.['required']){
                  <div class="error-required-message">
                    Message is required.
                  </div>
                }
               }
            </div>

            <div class="form-group recipient">
              <mat-radio-group formControlName="recipient">
                <mat-radio-button value="0">Everyone</mat-radio-button>
                <mat-radio-button value="1">Officers Only</mat-radio-button>
              </mat-radio-group>
              @if(recipientControl.invalid && recipientControl.touched){
                @if(recipientControl.errors?.['required']){
                  <div class="error-required-recipient">
                    Recipient is required.
                  </div>
                }
               }
            </div>
            
            <button type="submit" class="submit-button">
              PUBLISH ANNOUNCEMENT
            </button>

          </div>
        </form>
        </div>
      </div>

  <!--CREATE ANNOUNCEMENT MODAL-->
      <div class="modal-announcement" *ngIf="openModalAnnouncement">
        <div class="modal-announcement-content">
          <span class="close" (click)="closeModalAnnouncement()">&times;</span>
          <h2>Announcement</h2>

          <form
            [formGroup]="announcementForm"
            (ngSubmit)="submitAnnouncement()">
            <div class="an-modal-content">
              <div class="form-group subject">
                <label for="subject">Subject:</label>
                <div class="input-wrapper">
                  <input
                    type="text"
                    id="subject"
                    formControlName="subject"
                    required
                    (input)="updateSubjectCharacterCount()" />
                  <span class="character-counter-subject">{{
                      subjectControl.value
                        ? subjectControl.value.length
                        : 0 }}/30
                  </span>
                </div>

                <!--FORM VALIDATORS-->
                @if(subjectControl.invalid && subjectControl.touched){
                  @if(subjectControl.errors?.['required']){
                    <div class="error-required-subject">
                      Subject is required.
                    </div>
                  }
                 }
              </div>

              <div class="form-group message">
                <label for="message">Message:</label>
                <div class="textarea-wrapper">
                  <textarea
                    id="message"
                    formControlName="message"
                    required
                    (input)="updateMessageCharacterCount()">
                  </textarea>
                  <span class="character-counter-message">
                    {{messageControl.value
                        ? messageControl.value.length
                        : 0}}/850
                  </span>
                </div>

                @if(messageControl.invalid && messageControl.touched){
                  @if(messageControl.errors?.['required']){
                    <div class="error-required-message">
                      Message is required.
                    </div>
                  }
                 }
              </div>

              <div class="form-group recipient">
                <mat-radio-group formControlName="recipient">
                  <mat-radio-button value="0">Everyone</mat-radio-button>
                  <mat-radio-button value="1">Officers Only</mat-radio-button>
                </mat-radio-group>
                @if(recipientControl.invalid && recipientControl.touched){
                  @if(recipientControl.errors?.['required']){
                    <div class="error-required-recipient">
                      Recipient is required.
                    </div>
                  }
                 }
              </div>
              
              <button type="submit" class="submit-button">
                PUBLISH ANNOUNCEMENT
              </button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
 <div class="container">
  <app-sidebar></app-sidebar>
  <app-display></app-display>
</div>