<div class="dashboard">
  <div class="content">
    <div class="main">
      <div class="dashboard-header" [class]="getHeaderClasses()">
        <div class="greetings">
          <h1 class="org-name">Computer Society</h1>
          <h1 class="user-name">Hello, {{ userInfo.first_name }}</h1>
        </div>
        <img src="assets/default.jpg" alt="Icon" class="org-icon" />
      </div>

      @if (userInfo.role_id!==2 && userInfo.role_id!==3) {
        <app-homepage-events></app-homepage-events>
      }

      @if (userInfo.role_id !==1){
        <app-admin-data></app-admin-data>
      }

    </div>

    <div class="container">
      <div class="profile-container">
        <p class="my-profile">MY PROFILE</p>
        <div class="profile-details">
          <img src="assets/default.jpg" alt="Icon" class="icon" />
          <div class="details">
            <p class="name">
              {{ userInfo.first_name }} {{ userInfo.last_name }}
            </p>
            <p class="course">{{ userInfo.student_number }}</p>
            <div class="role-button" [class]="getHeaderClasses()">
              {{ getRoleName(userInfo.role_id) }}
            </div>
          </div>
        </div>
        <div class="dropdown-menu">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
            <mat-icon>expand_circle_down</mat-icon>
          </button>
          <mat-menu
            #menu="matMenu"
            class="profile-menu"
            xPosition="before"
            yPosition="below">
            <button
              mat-menu-item
              class="profile-menu-item"
              (click)="toggleProfileIconEdit()">
              <mat-icon class="profile-menu-icon">edit</mat-icon>
              <span class="profile-menu-text">Change Profile</span>
            </button>

            <button mat-menu-item>
              <mat-icon mat-icon class="profile-menu-icon"
                >exit_to_app</mat-icon
              >
              <span class="profile-menu-text">Logout</span>
            </button>
          </mat-menu>
        </div>
      </div>

      <app-profile-icon
        (avatarSaved)="updateUserInfo($event)"
        (close)="handleProfileIconClose()"
        [showProfileIconEdit]="showProfileIconEdit"
      >
      </app-profile-icon>

      <!-- VIEW ANNOUNCEMENTS -->
      <div class="announcement-container">
        <h4>ANNOUNCEMENTS</h4>
        <!-- Check if announcements array is empty -->
          @if(announcements.length===0){
            <ng-container>      
               <p class="no-announcement">No announcements yet.</p>
              </ng-container>
          }
        @for (announcement of announcements; track announcement){
        <div class="announcement">
          @if (userInfo.role_id !== 1 && announcement.student_id ===
          userInfo.user_id) {
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
            class="menu-button">
            <mat-icon>more_vert</mat-icon>
          </button>
          }

          <!--ANNOUNCEMENT MENU: edit & delete-->
          <mat-menu #menu="matMenu" class="an-menu">
            <button mat-menu-item (click)="deleteAnnouncement(announcement)">
              <mat-icon class="menu-icon">delete</mat-icon>
              <span class="menu-item-text">Delete</span>
            </button>
            <button mat-menu-item (click)="openEditModal(announcement)">
              <mat-icon class="menu-icon">edit</mat-icon>
              <span class="menu-item-text">Edit</span>
            </button>
          </mat-menu>

          <!--ANNOUNCEMENTS-->
          <div class="an-content" (click)="openModal(announcement)">
            <p class="announcement-subject">{{ announcement.subject }}</p>
            <p class="announcement-text">
              {{ truncateText(announcement.content, 30) }}
            </p>
          </div>
        </div>
        }
        <div class="create">
          <button class="create-announcement" (click)="toggleModal()">
            <mat-icon>campaign</mat-icon>Create Announcement
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

@if(showOneAnnouncement){
  <div class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeOneAnnouncement()">&times;</span>
      <h2>{{ modalSubject }}</h2>
      <p class="details">
        @if (modalUpdated){
          <span>Updated at: </span>
        }
        @if (!modalUpdated){
          <span>Posted on: </span>
        }
        {{ modalDate }}
      </p>
      <p class="details">Published by: {{ modalAuthor }}</p>
      <p class="content">{{ modalContent }}</p>
    </div>
  </div>
  }

  <!--EDIT ANNOUNCEMENT MODAL-->
  <app-an-edit-modal
    [selectedAnnouncement]="selectedAnnouncement"
    [showEditModal]="showEditModal"
    (closeModal)="closeModalEditAnnouncement()"
    (announcementUpdated)="handleAnnouncementUpdated($event)">
  </app-an-edit-modal>

  <!--CREATE ANNOUNCEMENT MODAL-->
  <app-an-modal
    [showModal]="showModal"
    [announcementForm]="announcementForm"
    (announcementCreated)="handleAnnouncementCreated($event)">
  </app-an-modal>
