<div class="container">
  <!-- Title -->
  <div class="header-container">
    <h1>Upcoming Events</h1>
  </div>

  <!-- list of events -->
  <div class="event-list">
    <div class="event-card">
      <div class="event-img">
        <img src="../../../assets/icon.jpg" alt="Event Poster" />
      </div>
      <div class="event-details">
        <h3>Music Festival</h3>
        <p>PUP Gymnasium</p>
        <p>August 1, 2024</p>
        <p id="reg_fee">Free Registration</p>
      </div>
      <div>
        <button class="view-more-button" (click)="openEventModal()">
          View More
        </button>
      </div>
    </div>
    <div class="event-card">
      <div class="event-img">
        <img src="../../../assets/icon.jpg" alt="Event Poster" />
      </div>
      <div class="event-details">
        <h3>Film Festival: Watch for a Cause</h3>
        <p>PUP Gymnasium</p>
        <p>August 2, 2024</p>
        <p id="reg_fee">Free Registration</p>
      </div>
      <div>
        <button class="view-more-button" (click)="openEventModal()">
          View More
        </button>
      </div>
    </div>
    <div class="event-card">
      <div class="event-img">
        <img src="../../../assets/icon.jpg" alt="Event Poster" />
      </div>
      <div class="event-details">
        <h3>Film Festival: Watch for a Cause</h3>
        <p>PUP Gymnasium</p>
        <p>August 2, 2024</p>
        <p id="reg_fee">Free Registration</p>
      </div>
      <div>
        <button class="view-more-button" (click)="openEventModal()">
          View More
        </button>
      </div>
    </div>
    <div class="event-card">
      <div class="event-img">
        <img src="../../../assets/icon.jpg" alt="Event Poster" />
      </div>
      <div class="event-details">
        <h3>Acoustic Night With Clover</h3>
        <p>PUP Gymnasium</p>
        <p>August 3, 2024</p>
        <p id="reg_fee">Free Registration</p>
      </div>
      <div>
        <button class="view-more-button" (click)="openEventModal()">
          View More
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Event Modal -->
<div id="eventModal" class="modal" [class.visible]="isEventModalVisible">
  <div class="modal-content">
    <span class="close" (click)="closeEventModal()">&times;</span>
    <img src="../../../assets/icon.jpg" alt="Event Poster" />
    <h3>Event Title</h3>
    <p>Event Location</p>
    <p>Event Date</p>
    <p id="modal_reg_fee">Registration Fee</p>
    <p class="caption">
      Event caption goes here. This is a sample text to show the event details
      in justified alignment.
    </p>
    <button class="register-btn">Register</button>
  </div>
</div>
