<div id="nav-bar">
  <div id="nav-content" [ngClass]="{
    'nav-content-role1': userInfo.role_id === 1,
    'nav-content-role2': userInfo.role_id === 2,
    'nav-content-role3': userInfo.role_id === 3
  }">
    <div class="logo">
      <img src="assets/logo.png" />
    </div>

    <div class="nav-button" routerLink="/dashboard" >
      <i class="fas fa-home"></i>
    </div>

    <div class="nav-button" routerLink="/freedom-wall">
      <i class="fas fa-thumbtack"></i>
    </div>

    @if(userInfo.role_id!==1){
      <div class="nav-button" routerLink="/events">
        <i class="fas fa-calendar"></i>
      </div>
    }

    @if(userInfo.role_id!==1){
      <div class="nav-button" routerLink="/members">
        <i class="fas fa-users"></i>
      </div>
    }
    
    <div class="nav-button" routerLink="/archive">
      <i class="fas fa-archive"></i>
    </div>

    <div id="nav-content-highlight"></div>
  </div>
</div>
