<div class="members-page">
    <div class="container">
        <div class="header">
            <img src="" alt="Logo">
            <h1>Archive</h1>
        </div>

        <div class="row">
            <div class="left-column">
                <p>Events that have already ended will be viewed here</p>
                <div class="month-year">
                    <p>April 2024</p>
                </div>

                <div class="page" (click)="eventClick()">
                    @for(event of events.slice(currentSlide, currentSlide + 3); track events){
                        <div class="archive-event">
                            <img [src]="event.icon">
                        </div>
                    }
                </div>

                <div class="carousel-buttons">
                    <button class="carousel-button" (click)="moveLeft()">&#60;</button>
                    <span class="page-number">Page {{currentSlide / 3 + 1}}</span>
                    <button class="carousel-button" (click)="moveRight()">&#62;</button>
                </div>
            </div>

            <div class="right-column">
                <h2>Previous Events</h2>
                <div id="search_container">
                    <input type="text" id="search-input" placeholder="Search event title">
                    <ul id="search-results"></ul>
                </div>
                <table class="event-list1">
                    <tr>
                        <td>Event Title</td>
                        <td>Event Date</td>
                    </tr>
                </table>
                <div class="previous-events">
                    <table class="event-list">
                        @for(eventList of eventLists; track eventLists){
                            <div class="event-list-table">
                                <td>{{ eventList.eventTitle }}</td>
                                <td>{{ eventList.eventDate }}</td>   
                            </div>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@if(showEventModal) {
    <div class="modal" id="eventModal">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            @for(detail of details; track details){
                <div class="modal-event">
                    <img [src]="detail.icon" />
                </div>
                <div class="modal-details">
                    <h3>{{ detail.eventTitle }}</h3>
                    <p class="label">Date: <span class="value">{{ detail.eventDate }}</span><p> 
                    <p class="label">Location: <span class="value">{{ detail.eventLocation }}</span></p> 
                    <p>{{ detail.eventCaption }}</p>
                </div>
            }
        </div>
    </div>
}
